
.navbar-second
{
	margin-top: -60px;
	margin-bottom: 0px;
	color: black;	
}
.navbar-main
{
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}

.navbar-main 
{
	color:black;
}

.navbar-main-page
{
	margin-bottom: 0px;
}

.gray-back
{
	background-color: gray;
}
a.modal-link:focus
{
	outline:red ;
}
.modal-login
{
	margin-top: 100px;
}
.modal-login .row
{
	margin-bottom:-20px;
	padding-bottom:20px;
	
}
.modal-grey
{
	border-radius:6px;
	margin-top:-15px;
	margin-bottom:-20px;
	background-color: rgba(239,237,238,1);
	//color:red;
}
.modal-grey h4
{
	padding-top:15px;
}
.modal-grey form
{
	margin-bottom:15px;
}

.modal-body h4, p
{
	margin-bottom:20px;
}

.modal-body p
{
	margin-bottom:30px;
}

.modal-white form
{
	padding-bottom:57px;
	
}

.modal-white
{
	margin-bottom:20px;
	
}