.login-modal-window{
   z-index: 101;
  position: relative;
  top: 10%;
  margin: 0 auto;
  display:none;
  //background-color: gray;
  width: 620px;
  height: 240px;
  padding: 0;
  //border: 1px solid #CCC;
     -webkit-perspective: 800px;
        -moz-perspective: 800px;
          -o-perspective: 800px;
             perspective: 800px;
}

.login-modal-window h4
{
	font-size: 15px;
	font-weight: bold;
}
.login-modal-window p
{
	font-size: 13px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
          -o-transition: -o-transform 1s;
              transition: transform 1s;
  -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;  
}


#card figure {
  
  background: white;
  //border: 1px solid black;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  -webkit-margin-start:0em;
  -webkit-margin-end:0em;
  display: block;
  height: 100%;
  width: 100%;
  //line-height: 26px;
  color: black;
  text-align: center;
  //font-weight: bold;
  //font-size: 14px;
  position: absolute;
    -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
              backface-visibility: hidden;   
	
}

#card .login-form {
  background: white;
  -webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
  
}
#card .signin-form {
  background: white;
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
  
}

#card.flipping {
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );

}

.bg-window
{
	overflow: hidden;
	position: absolute;
 	top:0;
	width:100%;
	height:100%;
	display:none;
	z-index:100;
	background: rgba(0, 0, 0, 0.45);
	//opacity: 0.5;
		
}

.inner-container
{
	margin:0;
	height: 100%;
	width:100%;
}

.modal-white, .modal-grey
{
	padding: 20px 40px;
	text-align: left;
	height: 100%;
}


.login-form .modal-white h4, .login-form .modal-grey h4
{
	padding-bottom: 20px;

}

.modal-grey
{
	background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(239,237,238,1) 100%);
}

.login-form .modal-white .form-group
{
	padding-bottom: 50px;
}

.login-form .modal-grey p
{
	margin-bottom: 43px;
}

.login-form .modal-grey #signin-button
{
	//margin-bottom: 12px;
}


.signin-form .modal-white form label
{
	margin-top: 4px; 

	
}

.signin-form .modal-white form input[type="checkbox"]
{
	position: relative;
	margin-left: 0; 

	//color:red;
}

.signin-form .modal-white form  span
{
	font-size: 92%;
	//margin-left: 10px; 
	//color:red;
}

.signin-form .modal-grey p
{
	
	margin-top: 15px;
	margin-bottom: 58px; 
	//color:red;
}

.signin-form .modal-grey #login-button
{
	//margin-bottom: 12px;
}

.header-main-page
{
	margin-bottom: 100px;
}
.top-navbar
{
	z-index: 99;
	//position: fixed;
	//top:0;
	//width:100%;
	background: white;
	border-bottom: 1px solid #ccc;
}


.navbar-main
{
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}

.navbar-main 
{
	color:black;
}

.navbar-main-page
{
	position: relative;
	top:100px;
	left:0;
	margin-bottom: 0px;
	float: none;
}

