.login-modal-window{
   z-index: 101;
  position: absolute;
  top: 10%;
  margin: 0 20%;
  display:none;
  //background-color: gray;
  width: 600px;
  height: 260px;
  padding: 0;
  border: 1px solid #CCC;
     -webkit-perspective: 800px;
        -moz-perspective: 800px;
          -o-perspective: 800px;
             perspective: 800px;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
          -o-transition: -o-transform 1s;
              transition: transform 1s;
  -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;  
}


#card figure {
  
  background: white;
  //border: 1px solid black;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  -webkit-margin-start:0em;
  -webkit-margin-end:0em;
  display: block;
  height: 100%;
  width: 100%;
  //line-height: 26px;
  color: black;
  text-align: center;
  //font-weight: bold;
  //font-size: 14px;
  position: absolute;
    -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
              backface-visibility: hidden;   
	
}

#card .login-form {
  background: white;
  -webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
  
}
#card .signin-form {
  background: white;
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
  
}

#card.flipping {
  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );

}

.bg-window
{
	position: absolute;
 	top:0;
	width:100%;
	height:100%;
	display:none;
	z-index:100;
	background: rgba(0, 0, 0, 0.45);
	//opacity: 0.5;
		
}


.navbar-second
{
	margin-top: -60px;
	margin-bottom: 0px;
	color: black;	
}
.navbar-main
{
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}

.navbar-main 
{
	color:black;
}

.navbar-main-page
{
	margin-bottom: 0px;
}

.gray-back
{
	background-color: gray;
}
a.modal-link:focus
{
	outline:red ;
}
#login-modal, #signin-modal 
{
	margin-top: 100px;
}

#login-modal .modal-body, #signin-modal .modal-body
{
	padding: 0px;
}

#login-modal .modal-content, #signin-modal .modal-content
{
	border-radius:0px;
}
#login-modal .row, #signin-modal .row
{
	padding: 0px;
	margin: 0px;
	border-radius:0px;
	//margin-bottom:-20px;
	//padding-bottom:20px;
	
}
#login-modal .modal-white, #signin-modal .modal-white 
{
	padding-top:30px;
	padding-bottom: 30px;
	
}

#login-modal .modal-white h4, #login-modal .modal-white .form-group 
{
	margin-bottom: 38px;
	
}

#login-modal .modal-grey, #signin-modal .modal-grey
{
	padding-top:30px;
	padding-bottom: 30px;
	background-color: rgba(239,237,238,1);
	
}


#login-modal .modal-grey h4, #login-modal .modal-grey p 
{
	padding-bottom: 25px;
	margin-bottom: 0px;
}

#login-modal .modal-grey form
{
	//margin-bottom:15px;
}


#signin-modal .modal-white h4, #signin-modal .modal-white p 
{
	margin-bottom: 10px;
	
}

#signin-modal .modal-grey h4  
{
	margin-bottom: 10px;
	
}

#signin-modal .modal-grey p
{
	margin-bottom: 38px;
	
}